body {
  background-color: #253a5b;
  margin: 0;
  padding: 0;
  height: 100%;
  /*opacity: .2; end-game */
}

#custom {
  margin: 90;
  padding: 0;
}

.container{
  display: grid;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a{
  display: grid;
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start
  grid-row-end: 3
}

/*************** NAV BAR *********************/
nav {
  padding: 14px;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 6px solid black;
}

li {
  float: left;
  border-right:2px solid #bbb;
  background-color: #6a96ec;
}

li:last-child {
  border-right: none;
}

li a {
  /*display: block;*/
  color: black;
  text-align: center;
  padding: 28px 36px;
  text-decoration: none;
  font-size: 24pt;
}

li a:hover {
  background-color: #e84219;
}

h1 {
  margin: auto;
  font-family: 'Bungee', cursive;
  font-size: 100px;
}

a {
  font-family: 'Bungee', cursive;
  color: 'blue';
}

.overlay .info {
  position: absolute;
  right: 0;
  left: 0;
}

.button.info {
  display: inline-block;
  margin: 10px auto;
  /*width: 35%;*/
  position: relative;
  background-color: #e62e00;
}

.button:hover {
  background-color: #8585ad;
  cursor: pointer;
}

.demo .button,
.pause .button{
  position: relative;
  top: 300px;
}

/*********** HIGH SCORES TABLE *****************/


table, th, td {
  border-collapse: collapse;
}

tr:hover {
  background-color: white;
}

th, td {
  text-align: center;
  padding: 10px;
  width: 100px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  font-size: 24px;
  font-family: 'Bungee', cursive;
  background-color: #ffb31a;
}

table {
  width: 400px;
}

th {
  height: 40px;
  background-color: #e62e00;
  color: black;
  border: 3px solid black;
}

.rank {
  width: 75px;
}

/******************* GAME ******************************/
.container {
  position: relative;
  display: inline-block;
}

.overlay {
  background: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vertical-center {
  /*top: 50%;
  transform: translateY(-50%);*/
}


/* Main blocks */
.row {
  margin:0;
  height: 34px;
}

.block {
  display: inline-block;
  width: 34px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .4);
}

.block-r {
  background-color: red;
  border: 2px solid black;
}

.block-y {
  background-color: yellow;
  border: 2px solid black;
}

.block-b {
  background-color: blue;
  border: 2px solid black;
}

.block-g {
  background-color: lightgreen;
  border: 2px solid black;
}

.block-o {
  background-color: orange;
  border: 2px solid black;
}

.block-ghost {
  background: rgba(50, 50, 50, .4);
  border: 2px solid black;
}

.inner-ghost {
  height: 50%;
  width: 50%;
  margin: auto;
  
}

/* Queue blocks */
.mini-row{
  margin:0;
  height: 20px;
}

.mini-block {
  display: inline-block;
  width: 20px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  /*background: rgba(0, 0, 0, .4);*/
}

.mini-r {
  background-color: red;
  border: 1px solid black;
}

.mini-y {
  background-color: yellow;
  border: 1px solid black;
}

.mini-b {
  background-color: blue;
  border: 1px solid black;
}

.mini-g {
  background-color: lightgreen;
  border: 1px solid black;
}

.mini-o { 
  background-color: orange;
  border: 1px solid black;
}

.mini-hold {
  background: rgba(30, 30, 30, .4);
}

/* Info bars */
.info {
  border: 6px solid black;
  padding: 10px;
  font-size: 35px;
  font-family: 'Bungee', cursive;
  color: black;
  background-color: #ffb31a;
}

#score {
  position: absolute;
  left: 75%;
  top: 28%;
}

#next {
  position: absolute;
  left: 7%;
  top: 28%;
}

/*color selection: #C8C8C8 9999ff ffb31a orange:ff4000*/

/*********** START AND GAMEOVER *****************/

.nameEntry {

}

input[type=text] {
  box-sizing: border-box;
  font-size: 12pt;
}