
/*************** NAV BAR *********************/
.center {
  margin: auto;
  width: 60%;
}

nav {
  width: 230px;
  padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
    border-right:1px solid #bbb;
    background-color: #333;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4CAF50;
}

h1 {
  margin: auto;
  font-family: 'Bungee', cursive; 
  font-size: 50px;
}
/*********** HIGH SCORES TABLE *****************/

.tbody {
  height: 400px;
  overflow: scroll;
}

table, th, td {
  border-collapse: collapse;
}

tr:hover {
  background-color: #f5f5f5
}

th, td {
  text-align: center;
  padding: 10px;
  width: 180px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table {
  width: 400px;
}

th {
  height: 40px;
  background-color: #85144b;
  color: white;
}

/*************************************************/

.row{
  margin:0;
  height: 20px;
}

.block {
  display: inline-block;
  width: 20px;
  height: 100%;
  background-color: lightgray ;
  position: relative;
  box-sizing: border-box;
}

.block-r {
  background-color: red;
  border: 1px solid gray;
}

.block-y {
  background-color: yellow;
  border: 1px solid gray;
}

.block-b {
  background-color: blue;
  border: 1px solid gray;
}

.block-g {
  background-color: lightgreen;
  border: 1px solid gray;
}

.block-o { 
  background-color: orange;
  border: 1px solid gray;
}

/*span {
  float: left;
  width: 40px;
  border: solid 1px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row {
  height: 50px;
}

/*.spot {
  border: solid;
}

.blue {
  background-color: blue;
  text
}

.red {
  background-color: red;
}